.navbar {
  position: relative;
  width: 450px;
  height: 450px;
  background: linear-gradient(rgb(4, 166, 230), rgba(214, 4, 92, 0.61));
  border-radius: 50%;
  left: -230px;
  top: -280px;
}
.nav-text {
  position: absolute;
  bottom: 18%;
  right: 14%;
  font-size: 20px;
}
.container-mine {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  margin: 0 250px;
}
