.navbar {
  position: relative;
  width: 420px;
  height: 420px;
  background-color: rgb(17, 197, 221);
  border-radius: 50%;
  left: -200px;
  top: -230px;
}
.nav-text {
  position: absolute;
  bottom: 25%;
  right: 9%;
  font-size: 24px;
}
