.navbar {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: rgb(17, 197, 221);
  border-radius: 50%;
  left: -200px;
  top: -200px;
}
.nav-text {
  position: absolute;
  bottom: 20%;
  right: 10%;
}
